body{
  margin:0;
}

.header{
  background-color:red;
  height: 55px;
  width:1100px;
  margin:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}
.floatingbox{

  background:black;
  height: 25px;
  width: 75%;
  maring-left: 10%;
}

.floatingbox:hover{
  background-color: white;
}
.flex-container {
  background-color: blue;
  height: 700px;
  width:45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:auto;

}

.flex-item {

  height: 100px;
  width: 100px;
  margin-left: 25px;
  margin-top: -500px;
  background-color: yellow;
  list-style: none;*/

}

.footer{
  background-color:green;
  height:50px;
  width:1100px;
  margin:auto;
}
